<form action="/action_page.php " class="updatenid_center">
  <h3> Update National ID Form</h3>
<br>


              <div class="form-group updatenidfield">
                  <label for="bankuid">Bank Id:</label>
                  <input type="bankuid" class="form-control" id="bankuid">
              </div>

              <div class="form-group updatenidfield">
                  <label for="pwd">Bank Passcode:</label>
                  <input type="passcode" class="form-control" id="pwd">
              </div>

              <div class="form-group updatenidfield">
                  <label for="custnid">Customer Previous NID:</label>
                  <input type="custnid" class="form-control" id="custnid">
              </div>

              <div class="form-group updatenidfield">
                  <label for="newname">Customer New NID:</label>
                  <input type="newname" class="form-control" id="newname">
              </div>

              <div class="updatenidbutton_center">
                   <button style="float:right"  type="submit" class="btn btn-primary">Submit</button>
              </div>

</form>