
<nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">E-KYC</a>
        </div>
            <ul class="nav navbar-nav">
              
              
                    <li routerLinkActive="active current" class="list"><a routerLink="/bankInfo">Bank Information</a></li>             
                    <li routerLinkActive="active current"><a routerLink="/create-account">Customer KYC</a></li>
                    
                    <li routerLinkActive="active current"><a routerLink="/access-account">Access KYC</a></li>
                    
                  
            <!--      
                <li routerLinkActive="active current" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Update
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li routerLinkActive="active current"><a routerLink="/update-name">Update Name</a></li>
                      <li routerLinkActive="active current"><a routerLink="/update-nid">Update NID</a></li>
                      <li routerLinkActive="active current"><a routerLink="/update-age">Update Age</a></li>
                    </ul>
                </li>
              -->
            </ul>
      </div>
</nav>