<form action="/action_page.php " class="updateage_center">
  <h3> Update Age Form </h3>
  <br>


          <div class="form-group updateagefield">
              <label for="bankuid">Bank Id:</label>
              <input type="bankuid" class="form-control" id="bankuid">
          </div>

          <div class="form-group updateagefield">
              <label for="pwd">Bank Passcode:</label>
              <input type="passcode" class="form-control" id="pwd">
          </div>

          <div class="form-group updateagefield">
              <label for="custnid">Customer NID:</label>
              <input type="custnid" class="form-control" id="custnid">
          </div>

          <div class="form-group updateagefield">
              <label for="newname">Customer New Age:</label>
              <input type="newname" class="form-control" id="newname">
          </div>

          <div class="updateagebutton_center">
               <button style="float:right"  type="submit" class="btn btn-primary">Submit</button>
          </div>


</form>