<form action="/action_page.php " class="updatename_center">
  <h3> Update Name Form</h3>
<br>


            <div class="form-group updatenamefield">
                <label for="bankuid">Bank Id:</label>
                <input type="bankuid" class="form-control" id="bankuid">
            </div>

            <div class="form-group updatenamefield">
                <label for="pwd">Bank Passcode:</label>
                <input type="passcode" class="form-control" id="pwd">
            </div>

            <div class="form-group updatenamefield">
                <label for="custnid">Customer NID:</label>
                <input type="custnid" class="form-control" id="custnid">
            </div>

            <div class="form-group updatenamefield">
                <label for="newname">Customer New Name:</label>
                <input type="newname" class="form-control" id="newname">
            </div>

            <div class="updatenamebutton_center">
                <button style="float:right"  type="submit" class="btn btn-primary">Submit</button>
            </div>
           
</form>